services:
  xunlei-bot:
    image: ch1swill/xunlei-tg-bot:latest
    container_name: xunlei_tg_bot
    # 【关键】给予特权，否则 tcpdump 没权限抓包
    privileged: true
    # 为了自动获取TOKEN 建议将XUNLEI和此DOCKER放在同一个主机上，且都使用HOST模式
    network_mode: host
    environment:
      # ========== Telegram 配置 ==========
      - BOT_TOKEN=YOUR_BOT_TOKEN
      - CHAT_ID=YOUR_CHATID
      
      # ========== 迅雷配置 ==========
      # 迅雷地址
      - XUNLEI_HOST=http://迅雷IP:端口/webman/3rdparty/pan-xunlei-com/index.cgi
      
      # 默认下载根目录的 file_id (从迅雷网页版获取 往迅雷随便下一个文件F12查看)
      - XUNLEI_PARENT_FILE_ID=
      
      # 设备空间 ID (URL编码格式)
      - XUNLEI_SPACE=device_id%XXXXXXXXXXXXXXXXXXXXXX
      
      # 认证 Token (可以不填)
      - XUNLEI_AUTH=
      
      # 嗅探配置 (迅雷端口)
      - SNIFF_PORT=2345
      # 如果 Bridge 模式下无法抓到包，尝试改为 eth0
      - SNIFF_INTERFACE=any 
      
      # 健康检查：(默认3600秒=1小时)
      - HEALTH_CHECK_INTERVAL=28800

      # ========== 代理配置 (国内环境可选) ==========
      - HTTPS_PROXY=http://192.168.2.1:7890
      - HTTP_PROXY=http://192.168.2.1:7890
      - NO_PROXY=localhost,127.0.0.1,或本机IP

    restart: unless-stopped